[bumpversion]
current_version = 5.14.0-1
commit = False
tag = false
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)-(?P<build>\d+)
serialize = 
	{major}.{minor}.{patch}-{build}

[bumpversion:part:build]
first_value = 1

[bumpversion:file:setup.cfg]

[bumpversion:file:qBitrr/bundled_data.py]

[bumpversion:file:Dockerfile]

[bumpversion:file:docs/index.md]
search = **Latest Release**: v{current_version}
replace = **Latest Release**: v{new_version}

[bumpversion:file:qBitrr/gen_config/fields.py]
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:-(?P<build>\d+))?
serialize = {major}.{minor}.{patch}
search = "{current_version}",
replace = "{new_version}",

[bumpversion:file:qBitrr/config_version.py]
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:-(?P<build>\d+))?
serialize = {major}.{minor}.{patch}
search = EXPECTED_CONFIG_VERSION = "{current_version}"
replace = EXPECTED_CONFIG_VERSION = "{new_version}"

[bumpversion:file:docs/configuration/config-file.md]
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:-(?P<build>\d+))?
serialize = {major}.{minor}.{patch}
search = ConfigVersion = "{current_version}"
replace = ConfigVersion = "{new_version}"

[bumpversion:file:config.example.toml]
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?:-(?P<build>\d+))?
serialize = {major}.{minor}.{patch}
search = ConfigVersion = "{current_version}"
replace = ConfigVersion = "{new_version}"
