.git
.gitignore
.github
.gitattributes

.bumpversion.cfg
.grenrc.yml
.pre-commit-config.yaml

CHANGELOG.md
README.md
config.example.toml
requirements.all.txt
requirements.dev.txt
requirements.txt

dist/
build/
qBitrr.egg-info/
venv/
.venv/
.sourcery.yaml
test.py
webui/node_modules/
webui/dist/

# Exclude local config and logs to reduce build context size
.config/
logs/
*.log
*.md
