/config.toml
.idea
/qBitrr/testing/test.py
/qBitrr.egg-info/
/build/
/dist/
.env
.venv/
venv/
/webui/node_modules/
/webui/dist/
/.github/workflows/test.yml
__pycache__/
*.py[cod]
/qBitrr/testing/
build.bat
/main.*/
/main.exe
.run/
.vscode/
test.py
.config
/qBitrr/static/*
!/qBitrr/static/.gitkeep
AGENTS.md
compose.yml
/docs/
*.log
