/config.toml
.idea
/qBitrr/testing/test.py
/qBitrr.egg-info/
/build/
/dist/
.env
.venv/
venv/
/.github/workflows/test.yml
__pycache__/
*.py[cod]
/qBitrr/testing/
build.bat
/main.*/
/main.exe
.run/
.vscode/
test.py
